.ase-preview-container {
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.ase-preview-image-view {
  background: #655561;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 2px;
}

.ase-preview-image {
  display: flex;
  justify-content: space-between;
}

.ase-preview-file-info {
  font-size: 1.2em;
  align-self: center;
  margin-bottom: 40px;
}

.ase-preview-timeline {
  background: #c6c6c6;
  border: 1px solid black;
  border-radius: 2px;
  overflow: auto;
  width: 90%;
  display: flex;
  align-items: center;
}

.ase-preview-frames {
  padding: 5px;
  display: flex;
  width: min-content;
}

.ase-preview-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  height: 30px;
  width: 30px;
  padding: 2px;
}

.ase-preview-frame:hover {
  cursor: pointer;
}

.ase-preview-frame.active {
  background: #7d929e;
  color: white;
}

.ase-palette-container {
  background: #655561;
  width: 8%;
  border: 1px solid black;
  padding: 4px;
  border-radius: 2px;
  overflow-y: auto;
  overflow-x: visible;
  max-height: 75vh;
}

.ase-preview-timeline::-webkit-scrollbar, .ase-palette-container::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}
.ase-preview-timeline::-webkit-scrollbar-thumb, .ase-palette-container::-webkit-scrollbar-thumb {
  background-color: #343434;
}

.ase-bottom {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.ase-palette-hover {
  margin-top: 5px;
  padding: 5px;
  display: flex;
  width: max-content;
  border: 1px solid black;
  background: #7d929e;
  font-family: monospace;
  border-radius: 2px;
  align-items: center;
}

.ase-palette-hover-color {
  height: 25px;
  width: 50px;
  border-radius: 2px;
}

.ase-palette-hover-red, .ase-palette-hover-green, .ase-palette-hover-blue,
.ase-palette-hover-alpha, .ase-palette-hover-hex {
  margin-left: 5px;
}

.active-color {
  border-color: white;
}
