.ase-palette-color {
  width: 25px;
  height: 25px;
  border: 1px solid black;
  position: relative;
}

.ase-palette-color .ase-palette-hover {
  position: absolute;
  padding: 5px;
  display: flex;
  flex-direction: column;
  text-align: left;
  visibility: hidden;
  width: max-content;
  z-index: 2;
  left: 30px;
  border: 1px solid black;
  background: #7d929e;
  font-family: monospace;
  border-radius: 2px;
}

.ase-palette-color:hover .ase-palette-hover {
  visibility: visible;
}

.ase-palette-active-preview {
  height: 20px;
}

.ase-palette-hover-color {
  height: 25px;
  border-radius: 2px;
}

.ase-palette {
  display: flex;
  flex-wrap: wrap;
}

.ase-palette-active {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin-top: 5px;
  border: 1px solid white;
  border-radius: 2px;
  font-family: monospace;
}

.ase-palette-active-preview {
  border: 1px solid black;
  border-radius: 2px;
}

.ase-palette-active-hex {
  text-align: center;
}

.active-color {
  border-color: white;
}
.ase-preview-container {
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.ase-preview-image-view {
  background: #655561;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 2px;
}

.ase-preview-image {
  display: flex;
  justify-content: space-between;
}

.ase-preview-file-info {
  font-size: 1.2em;
  align-self: center;
  margin-bottom: 40px;
}

.ase-preview-timeline {
  margin-top: 20px;
  background: #c6c6c6;
  border: 1px solid black;
  min-height: 50px;
  border-radius: 2px;
}

.ase-preview-frames {
  margin-top: 10px;
  margin-left: 5px;
  display: flex;
}

.ase-preview-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  height: 25px;
  width: 25px;
}

.ase-preview-frame:hover {
  cursor: pointer;
}

.ase-preview-frame.active {
  background: #7d929e;
  color: white;
}

.ase-palette-container {
  background: #655561;
  width: 5%;
  border: 1px solid black;
  padding: 4px;
  border-radius: 2px;
}

.file-upload-wrapper {
  position: absolute;
  width: max-content;
  padding: 5px;
}

.file-upload-wrapper input[type="file"] {
  display: none;
}

.file-upload-list {
  padding: 5px;
}

.file-upload-button {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 4px;
  font-size: 20px;
}

.file-upload-button:hover {
  cursor: pointer;
}

.file-upload-button:active {
  transform: scale(0.95);
}

.file-upload-preview {
  height: auto;
  max-width: 100px;
}

.file-upload-preview-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

html, body {
  background: #7c909f;
}

canvas {
  image-rendering: optimizeSpeed;             /* Older versions of FF          */
  image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
  image-rendering: -webkit-optimize-contrast; /* Safari                        */
  image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
  image-rendering: pixelated;                 /* Awesome future-browsers       */
  -ms-interpolation-mode: nearest-neighbor;   /* IE                            */
}
